@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
/* font-family: 'Rajdhani', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* font-family: 'Rubik', sans-serif; */
body {
    line-height: 1;
    font-family: 'Rubik', sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    overflow-x: hidden;
}
p:last-child {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    margin: 0;
}
h1 {
    font-weight: 700;
    font-size: 55px;
    color: #ffffff;
    line-height: 65px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}
h3{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}
.text_white h2,
.text_white h3,
.text_white p{
    color: #fff !important;
}
:focus-visible {
    outline: none;
}
.p_big p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
a{
    text-decoration: none !important;
}
a,
button {
   transition: all 0.3s ease 0s;
}
a:focus,
a:hover,
a {
   text-decoration: none;
}
a:hover{
    color: #01822f !important;
}
ul,
li {
   list-style: none;
}
div {
   outline: none;
}
img {
  max-width: 100%;
}

.container-fluid {
    max-width: 1600px;
}
.container {
    max-width: 1200px;
}
.h_btn a{
    display: inline-block;
    height: 45px;
    line-height: 42px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    padding: 0 25px;
}
.primary_s1 a,
.primary a {
    background-color: #01822f;
    border: 1px solid #01822f;
    color: #fff !important;
    font-weight: 700;
}
.primary a:hover{
    background-color: transparent;
    border: 1px solid #fff;
}
.primary_s1 a:hover{
    background-color: transparent;
    border: 1px solid #000;
    color: #000 !important;
}
.secondary a {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 700;
}
.secondary_1 a:hover,
.secondary a:hover{
    background-color: #01822f;
    border: 1px solid #01822f; 
    color: #fff !important;
} 
.secondary_1 a{
    border: 1px solid #333;
    color: #333;
}
nav.navbar.navbar-expand-lg {
    padding: 0;
}
.s_padding{
    padding: 80px 0;
}
.s_small_padding{
    padding: 50px 0;
}
.pt_10{
    padding-top: 10px;
}
.mt_30{
    margin-top: 30px;
}
.mb_20{
    margin-bottom: 20px;
}
.mb_30{
    margin-bottom: 30px;
}
/* main css  */
.header_top {
    background: #000;
    padding: 11px 10px;
}
.head_top_right ul,
.head_top_left ul{
    margin-bottom: 0 !important;
    padding: 0 !important;
}
.head_top_left ul,
.head_top_right ul {
    display: flex;
    align-items: center;
    
}
.head_top_right ul{
    justify-content: end;
}
.head_top_left ul li,
.head_top_right ul li {
    margin-right: 30px;
    color: #ffffff99;
}

.head_top_left ul li a
,.head_top_right ul li a{
    color: #ffffff99 !important;
}

.header_top ul li a i, .header_top ul li i {
    color: #2dbe6c;
    font-size: 18px;
    line-height: 28px;
    margin-right: 6px;
}
.header_top ul li a:hover{
    color: #2dbe6c !important;
}
ul.navbar-nav li{
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}
ul.navbar-nav li a{
    color: #fff !important;
}
ul.navbar-nav li a:hover {
    color: #008239 !important;
}
ul.navbar-nav {
    margin: 0 auto;
}
header.main_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: all 150ms ease-in;
}
.sticky_logo img,
.main_logo img {
    width: 200px;
}
.fixed {
    position: fixed !important;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 35px 0 rgb(27 37 44 / 25%);
}
header.main_header.fixed .header_top,
header.main_header.fixed a.navbar-brand .main_logo,
.sticky_logo {
    display: none;
}
header.main_header.fixed a.navbar-brand .sticky_logo{
    display: block;
}
header.main_header.fixed ul.navbar-nav li a{
    color: #666 !important;
}
.navbar_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* main section  */
section.hero_sec {
    background: url(../images/main-banner.webp);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    padding-top: 650px;
}
.main_text_wrap {
    position: absolute;
    width: 100%;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
section.hero_sec:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 10%);
    content: "";
    z-index: 1;
}
.main_text_wrap h1 {
    font-size: 55px;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 2px 2px #000;
}
.main_text_wrap p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

section.notification {
    background-color: #eafff3;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #c7edd8;
}
section.notification h6 {
    padding: 0;
    margin: 0;
}
.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category_box_wrap {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 0px 24px 0px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    text-align: center;
    width: 210px;
    display: inline-block;
    transition: all 500ms ease;
}
.category_box_wrap h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin: 12px 0;
}
.category_box_wrap p {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    background-color: #f2f2f5;
    text-align: center;
    border-radius: 50%;
}
.category a:hover .category_box_wrap{
    background-color: #008239;
}
.category a:hover .category_box_wrap p {
    background-color:rgba(255,255,255,.1);
    color: #fff;
    
}


section.feature_section{
    background: url(../images/shape-1.webp) ;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-color: #e5f8ed;
}

.section_heading h2 {
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 700;
}
.section_heading p {
    font-size: 17px;
    margin-bottom: 15px;
}
.section_heading {
    margin-bottom: 40px;
}
.feature_box_wrap {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;

}
.feature_text_wrap {
    padding:30px;
}
.feature_text_wrap p {
    color: #01822f;
    font-size: 14px;
}
.feature_text_wrap h3 a{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    letter-spacing: -1px;
    margin: 5px 0 15px;
}
.group_data_wrap tbody tr td .h_btn.primary a:hover,
.feature_text_wrap .h_btn.primary a:hover{
    border: 1px solid #000;
    color: #000 !important;
}
.feature_text_wrap h3 {
    min-height: 100px;
}

.group_data_wrap {
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 5px;
}
table.table.table-striped thead {
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    color: #fff;
    background: #00822e;
    
}
table.table.table-striped thead th {
    padding: 1rem 2rem;
}
table.table.table-striped tbody tr td {
    padding: 10px 1rem;
    line-height: 54px;
    font-size: 14px;
}

table.table.table-striped tbody tr:nth-child(odd){
    background-color: #fff !important;;
}
table.table.table-striped tbody tr:nth-child(even) {
    background-color: #f2f5fc !important;
}
tbody tr td a {
    text-decoration: none;
    font-weight: 700;
    color: #7a8fdd;
    font-size: 15px;
}



section.testimonial {
    background: url(../images/testi.webp);
    position: relative;
    padding: 80px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.testimonial_wrap {
    position: relative;
    z-index: 2;
}
section.testimonial:before {
    position: absolute;
    content: '';
    background-color: #1b1d21;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    z-index: 1;
}
.section_heading h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 13px;
    color: #008239;
}
.place_box_wrap {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.palce_text_wrap {
    position: absolute;
    left: 30px;
    bottom: 5px;
    width: calc(100% - 60px);
    padding: 14px 30px;
    border-radius: 5px;
    z-index: 2;
}
.palce_img:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 50%);
    bottom: 0;
    right: 0;
    z-index: 1;
}
.blog_img a img,
.product_img img,
.feature_img a img,
.palce_img img {
    transition: all 500ms ease;
    transform: scale(1);
}
.blog_img:hover a img,
.tour_product:hover .product_img img,
.feature_box_wrap:hover .feature_img a img,
.place_box_wrap a:hover .palce_img img {
    transform: scale(1.05);
}
.palce_text_wrap h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 1px;
    color: #fff;
}
.footer_text_wrap ul li a:hover,
.feature_wrap ul li a:hover,
.palce_text_wrap a:hover h4{
    color: #00822e;
}
.palce_text_wrap p {
    font-size: 14px;
    color: #fff;
}
.palce_img img{
    width: 100%;
}

section.feature_sec {
    background: url(../images/shape-1.webp);
    background-color: #e5f8ed;
    position: relative;
    padding: 70px 0 50px;
    width: 100%;
    background-repeat: no-repeat;
}
.feature_wrap h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
}
.feature_wrap h3:after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    width: 80px;
    background: #ff8b2c;
    transition: .5s;
}
.feature_wrap h3:hover:after {
    width: 100%;
    background: #ff8b2c;
}
.feature_wrap ul li {
    padding: 7px 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.feature_wrap ul li a {
    color: #000;
    font-size: 17px;
    font-weight: 400;
}
.feature_wrap ul li a p {
    font-size: 14px;
    color: #ff8b2c;
    line-height: 30px!important;
}
.feature_wrap ul {
    margin: 0;
    padding: 0;
}
.about_left {
    position: relative;
    padding-left: 130px;
}
.about_img img {
    border-radius: 10px;
}
.about_left_text {
    position: absolute;
    left: 0;
    bottom: 75px;
    width: 250px;
    text-align: center;
    background-color: #6e6e6eeb;
    border-radius: 10px;
    padding: 60px 15px 64px;
    z-index: 2;
}

.about_left_text h5 {
    display: block;
    font-size: 55px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #2dbe6c;
}
.about_left_text h6 {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    padding: 0 30px;
}
.about_right .section_heading {
    margin-bottom: 10px;
}
.about_right_text p {
    margin-bottom: 8px;
}
.about_bottom {
    border-top: 1px solid #ccc;
    margin-top: 70px;
}
.about_box_wrap {
    padding-right: 40px;
    margin-top: 50px;
}
.about_box_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e9e9e9;
    display: block;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 14px;
}
.about_box_img img {
    opacity: .4;
}
.about_box_text h4 {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
}
.about_box_text p {
    color: #555;
}
section.social_sec {
    background-color: #01822f;
    color: #fff;
    padding: 25px 0;
}
.social_left_wrap h5 {
    color: #fff;
    margin-bottom: 15px;
}
ul.social_links {
    margin: 0;
    padding: 0;
}
ul.social_links li {
    display: inline-block;
}
ul.social_links li a {
    color: #01822f;
    margin-right: 5px;
    background: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
}
ul.social_links li a:hover{
    background: #ff8b2c;
    color: #fff;
}
.tirp_logo p {
    text-align: end;
    font-weight: 600;
}
.tript_text span a {
    color: #ddd70f;
    line-height: 18px;
    margin-top: 10px;
    font-size: 14px;
}
footer.footer_sec {
    background-color: #e5f8ed;
}
.footer_text_wrap h5 {
    font-size: 22px;
    line-height: 34px;
    color: #000;
    font-weight: 500;
    margin-bottom: 22px;
}
.footer_text_wrap ul {
    padding: 0;
}
.footer_text_wrap ul li {
    margin-bottom: 5px;
}
.footer_text_wrap ul li a {
    line-height: 24px;
    font-size: 14px;
    color: #333;
    position: relative;
}
.footer_text_wrap ul li a:before {
    position: absolute;
    background-color: #2dbe6c;
    content: '';
    width: 0%;
    height: 1px;
    left: 0;
    bottom: -6px;
    transition: all 500ms ease;
}
.footer_text_wrap ul li a:hover:before {
    width: 100%;
    background-color: #2dbe6c;
}
.footer_logo_wrap img {
    display: inline-block;
    margin: 15px 10px;
}
ul.info_list li {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 26px;
    color: #333;
}

ul.info_list li i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #2dbe6c;
}
.footer_copyrigt {
    background-color: #1b1d21;
    padding: 37px 0;
}

.footer_copyrigt p {
    color: rgba(255,255,255,.5);
}
section.tour_sec {
    position: relative;
    padding: 80px 0;
    width: 100%;
    background: url(../images/followtoursbg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.tour_sec:before {
    position: absolute;
    content: '';
    background-color: #1b1d21;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
}
section.tour_sec.s_padding .container {
    z-index: 2;
    position: relative;
}
.tour_product {
    background: #fff;
    text-align: left;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 13%);
    padding: 16px;
    margin-bottom: 30px;
}
.product_img img {
    width: 100%;
    height: 80px;
}
.product_text_wrap h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.blog_text_wrap h4 a:hover,
.product_text_wrap h3 a{
    color: #01822f;
}
.product_text_wrap h3 a:hover{
    color: #000;
}
.product_text_wrap .price {
    color: #01822f;
    font-size: 13px;
    font-weight: 200;
    margin: 0;
}
section.cta_sec {
    background: url(../images/shape-3.webp);
    background-color: rgb(0, 124, 44);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 90px 0;
}

.cta_text_wrap h2 {
    font-size: inherit;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}
.cta_text_wrap h3 {
    font-size: 24px;
    line-height: 40px;
    color: orange;
    font-weight: 700;
}
.cta_text_wrap p {
    color: #fff;
    font-size: 18px;
    max-width: 690px;
}
.cta_btn .h_btn.primary a{
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
}
.blog_wrap {
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}
.blog_img {
    position: relative;
}
.date {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 14px;
    text-align: center;
    background-color: #01822f;
    z-index: 1;
}
.blog_text_wrap {
    padding: 27px 40px 35px;
}
.blog_text_wrap h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    min-height: 60px;
}
.blog_text_wrap h4 a{
    color: #333;
}

.slide_wrap .icon_wrap {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #f2b241;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 31px;
}
.slide_text p {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 500;
}
.author_wrap {
    padding: 15px 0 9px 0px;
    display: flex;
    align-items: center;
}
.profile_img img {
    border-radius: 50%;
}
.name_location {
    padding: 15px 0 9px 30px;
    min-height: 80px;
}
.name_location h4 {
    color: #01822f;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 2px;
}
.name_location p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2px;
}
span.swiper-pagination-bullet{
    background-color: #d3e6db !important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #00822e !important;
}
span.swiper-pagination-bullet {
    height: 16px;
    width: 16px;
}
.swiper-pagination{
    text-align: end !important;
}

.testimonial_left {
    position: absolute;
    left: -120px;
    top: 80px;
}


/* inner page  */
section.inner_hero_sec {
    background: url(../images/EBC-14-day.webp);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    padding-top: 450px;
}
section.hero_sec:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 10%);
    content: "";
    z-index: 1;
}
.package_left_wrap{
    background: #e9f5edc7;
    border-radius: 9px 0 0 7px;
    min-height: 150px;
    border-left: 3px solid #01822f;
}
.package_title {
    padding: 25px;
    border-bottom: 1px solid #d5e3da;
}
.package_title h1 {
    color: #ff7708;
    letter-spacing: -1px;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
.count_wrap a {
    color: #999;
    margin-left: 5px;
}

.title_group_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_group_wrap a {
    font-size: 13px;
    margin-left: 10px;
    color: #01822f;
}
.title_group_wrap img {
    margin: 10px 0;
}
.trip_details {
    padding: 25px 0 25px 30px;
}
span.trip-heading {
    font-weight: bold;
    color: #333;
}
.tripfact-bottom p{
    margin-top: 10px;
    display: block;
    color: #222;
}
.tripfact-duration {
    font-size: 28px;
    display: block;
    font-weight: 800;
    margin-left: 40px;
}
.tripfact-bottom ul li {
    list-style: disc;
    line-height: 30px;
    font-size: 15px;
}
.trip_details.accommodation span.trip-heading {
    font-size: 15px;
}
.tripfact-bottom ul {
    padding-left: 20px;
}
.package_right_wrap {
    background: #01822f;
    border-radius: 0 5px 5px 0;
    color: #fff;
    padding: 30px 25px 0 25px;
}
p.old_price {
    text-decoration: line-through;
    margin-bottom: 10px;
}

p.new_price {
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: 600;
}
.bottom_discount span,
.bottom_discount a,
p.discount a {
    font-size: 14px;
    color: #ffc82c;
}
.right_top p {
    margin: 0;
}
.right_bottom ul,
.right_top ul {
    padding: 0;
    margin: 0;
}
.right_bottom ul li,
.right_top ul li {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
}
.package_right_wrap hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
}
.bottom_discount a:hover {
    color: #fff;
}
.right_top .h_btn.secondary:hover a {
    border: 1px solid;
}
p.discount, .bottom_discount {
    margin: 8px 0;
    padding-bottom: 8px;
}

.bg_color_1 {
    background-color: #e5f8ed;
}

/* side bar scroll  */
section.sidebar_content_sec{
    position: relative;
}
.sidebar_right_wrap {
    position: sticky;
    top: 25%;
}
.sidebar_right_wrap ul.navbar-nav {
    width: 100%;
}
.sidebar_right_wrap ul.navbar-nav li {
    padding: 0;
}
.sidebar_right_wrap nav.navbar ul.navbar-nav li a {
    padding: 10px 20px!important;
    font-size: 17px;
    color: #fff!important;
    background: #01822f;
    border-radius: 3px;
    margin-bottom: 2px;
    font-family: rubik,sans-serif;
    font-weight: 400;
}
.sidebar_right_wrap ul.navbar-nav li:hover a.nav-link,
.sidebar_right_wrap ul.navbar-nav li a.nav-link.active {
    background: #ff8b2c;
}

.sidebar_right_wrap ul.navbar-nav li a.nav-link.active:before {
    content: '';
    position: relative;
    left: -32px !important;
    top: 2px;
    border-left: 14px solid transparent;
    border-top: 14px solid #ff8b2c;
    
}
/* contact us  */
section.contact_hero_sec {
    background: url(../images/contact-us-main.webp);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    padding-top: 450px;
}
.getin_touch_box {
    position: relative;
    background-color: #fff;
    padding: 96px 55px 65px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    transition: all 500ms ease;
}
.touch_box_text h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 21px;
}
.mail_wrap a {
    color: #a0a1a8;
}
.getin_touch_box {
    position: relative;
    background-color: #fff;
    padding: 96px 55px 65px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    transition: all 500ms ease;
}

.touch_box_img {
    position: relative;
}
.touch_box_img:before {
    position: absolute;
    content: '';
    background-color: #f2b241;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: -20px;
    left: 120px;
    opacity: .2;
    z-index: 1;
    transition: all 500ms ease;
}
.touch_box_img.round-01:before {
    background-color: #f2b241;
}
.touch_box_img.round-02:before {
    background-color: #2dbe6c;
}
.touch_box_img.round-03:before {
    background-color: #f94c4c;
}
.touch_box_text h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 21px;
}
.mail_wrap a {
    color: #a0a1a8;
    display: block;
}
.getin_touch_box.text-center:hover {
    transform: translateY(-10px);
}
.getin_touch_box.text-center:hover .touch_box_img:before{
transform: scale(2);
    opacity: .08;
}

.sidebar_form input.form-control,
.form_wrap input.form-control {
    height: 50px;
    font-size: 16px;
    color: #333;
    background: transparent;
    margin-bottom: 20px;
    border: 1px solid #bfbfbf;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}
.sidebar_form textarea.form-control,
.form_wrap textarea.form-control{
    font-size: 16px;
    color: #333;
    background: transparent;
    margin-bottom: 20px;
    border: 1px solid #bfbfbf;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}
.map_wrap {
    position: relative;
    height: 100%;
}
.map_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* nepal traking  */
section.page_title h1 {
    font-size: 42px;
    font-family: rubik,sans-serif;
    font-weight: 700;
    color: #000;
    position: relative;
    line-height: 52px;
}

.recent_heading h2:after,
section.page_title h1:after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    width: 80px;
    background: #01822f;
}

section.description_sec.s_padding {
    padding-top: 0 !important;
}
.description_wrap {
    font-size: 17px;
    margin-bottom: 15px;
    background: #e5f8ed;
    padding: 50px !important;
}

.feature_box_wrap.feature_blog {
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}
.feature_blog_text {
    padding: 0 30px;
}
.day_details {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    padding: 15px;
    margin-top: -35px;
    margin-bottom: 28px;
    min-height: 70px;
    z-index: 2;
}
.day_btn a {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    background-color: #0e893a;
    border: 1px solid #0e893a;
    padding: 0 17px;
    height: 30px;
}
.day_btn a:hover{
    background-color: transparent;
    color: #000 !important;
    border: 1px solid #000;
}
.recent_post_wrap,
.collapse_heading,
.day_details,
.more_details ul li,
.more_details ul,
.price_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.day_img {
    display: flex;
    align-items: center;
}
.day_img h6 {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 0 15px;
    padding: 0;
    color: #333;
}

.feature_blog_text h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 7px;
    color: #000;
}
.price h4 {
    color: #01822f;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.price_wrap {
    align-items: center;
    margin-bottom: 20px;
}
.reviews i {
    color: #ebd90b;
    font-size: 15px;
    line-height: 24px;
}
.more_details ul {
    margin: 0;
    padding: 0;
    
}
.more_details ul li{
    align-items: self-start;
}
.more_details ul li img {
    margin-right: 8px;
    margin-top: 0px;
}
.details_wrap p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    margin: 0;
    padding: 0;
}
.details_wrap p:nth-child(2) {
    font-weight: 700;
}
.feature_blog_wrap {
    padding: 30px 0;
}
.pagination {
    justify-content: center;
    margin: 30px 0;
}
.pagination ul li {
    display: inline-block;
}
.pagination ul li a {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 13px 20px;
    border: 2px solid #ccc;
    color: #000;
}
.pagination ul li.active a {
    background-color: #ccc;
}
.pagination ul li a:hover{
    background-color: #00822e;
    color: #fff !important;
}


/* panch pokhari  */
.sidebar_recent,
.blog_single_right,
.blog_single_left {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    padding: 40px 35px;
}
.blog_single_left h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin: 17px 0;
}
.collapse_wrap {
    background: #f7f7f7;
    border: 1px solid #b1b1b1;
    width: 60%;
    border-radius: 10px;
    padding: 20px 30px;
}
.collapse_heading a {
    border: 1px solid #000;
    padding: 3px 90px 0 15px;
    text-align: initial;
    border-radius: 5px;
    color: #333;
}
.collapse_heading {
    align-items: baseline;
}
i.fa-regular.fa-bars {
    font-family: 'FontAwesome';
}
div#tab_navigation {
    padding: 20px 0;
}
div#tab_navigation ul li a {
    color: #333;
    margin-bottom: 10px;
    display: block;
}
.single_blog_text_wrap ul li {
    margin-bottom: 10px !important;
}
.single_blog_text_wrap ul {
    padding: 20px 15px !important;
}
.single_blog_text_wrap img {
    margin: 15px 0;
}
.section_heading h4 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 13px;
}
.sidebar_recent {
    padding: 30px 10px !important;
}
.blog_single_right{
    padding: 30px 20px !important;
}
.recent_post_wrap {
    align-items: flex-start;
}
.post_img img {
    border-radius: 10px;
    width: 90px;
    max-width: 110px;
}
.post_text{
    margin-left: 20px;
}
.post_text a {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 7px;
    color: #333;
}
.post_text p.post_date {
    color: #93959e;
    font-size: 15px;
}
.recent_heading h2 {
    font-size: 28px;
    font-family: rubik,sans-serif;
    font-weight: 700;
    position: relative;
    margin: 40px 0;
}
.single_recent_date p {
    color: #93959e;
    font-size: 15px;
    padding-bottom: 20px;
}