@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
/* font-family: 'Rajdhani', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* font-family: 'Rubik', sans-serif; */
body {
    line-height: 1;
    font-family: 'Rubik', sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    overflow-x: hidden;
}
p:last-child {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    margin: 0;
}
h1 {
    font-weight: 700;
    font-size: 55px;
    color: #ffffff;
    line-height: 65px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}
h3{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}
:focus-visible {
    outline: none;
}
.p_big p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
a{
    text-decoration: none !important;
}
a,
button {
   transition: all 0.3s ease 0s;
}
a:focus,
a:hover,
a {
   text-decoration: none;
}
ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}
div {
   outline: none;
}
img {
  max-width: 100%;
}

.container-fluid {
    max-width: 1600px;
}
.container {
    max-width: 1200px;
}
.h_btn a{
    display: inline-block;
    height: 45px;
    line-height: 42px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    padding: 0 25px;
}
.primary a {
    background-color: #01822f;
    border: 1px solid #01822f;
    color: #fff !important;
    font-weight: 700;
}
.primary a:hover{
    background-color: transparent;
    border: 1px solid #fff;
}
.secondary a {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 700;
}
.secondary a:hover{
    background-color: #01822f;
    border: 1px solid #01822f; 
    color: #fff;
} 
nav.navbar.navbar-expand-lg {
    padding: 0;
}
.s_padding{
    padding: 80px 0;
}
.pt_10{
    padding-top: 10px;
}
/* main css  */
.header_top {
    background: #000;
    padding: 11px 10px;
}
.head_top_right ul,
.head_top_left ul{
    margin-bottom: 0 !important;
    padding: 0 !important;
}
.head_top_left ul,
.head_top_right ul {
    display: flex;
    align-items: center;
    
}
.head_top_right ul{
    justify-content: end;
}
.head_top_left ul li,
.head_top_right ul li {
    margin-right: 30px;
    color: #ffffff99;
}

.head_top_left ul li a
,.head_top_right ul li a{
    color: #ffffff99 !important;
}

.header_top ul li a i, .header_top ul li i {
    color: #2dbe6c;
    font-size: 18px;
    line-height: 28px;
    margin-right: 6px;
}
.header_top ul li a:hover{
    color: #2dbe6c !important;
}
ul.navbar-nav li{
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}
ul.navbar-nav li a{
    color: #fff !important;
}
ul.navbar-nav li a:hover {
    color: #008239 !important;
}
ul.navbar-nav {
    margin: 0 auto;
}
header.main_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: all 150ms ease-in;
}
.sticky_logo img,
.main_logo img {
    width: 200px;
}
.fixed {
    position: fixed !important;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 35px 0 rgb(27 37 44 / 25%);
}
header.main_header.fixed .header_top,
header.main_header.fixed a.navbar-brand .main_logo,
.sticky_logo {
    display: none;
}
header.main_header.fixed a.navbar-brand .sticky_logo{
    display: block;
}
header.main_header.fixed ul.navbar-nav li a{
    color: #666 !important;
}
.navbar_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* main section  */
section.hero_sec {
    background: url(../images/main-banner.webp);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    padding-top: 650px;
}
.main_text_wrap {
    position: absolute;
    width: 100%;
    padding-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
section.hero_sec:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 10%);
    content: "";
    z-index: 1;
}
.main_text_wrap h1 {
    font-size: 55px;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 2px 2px #000;
}
.main_text_wrap p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

section.notification {
    background-color: #eafff3;
    padding: 6px 0;
    text-align: center;
    border-bottom: 1px solid #c7edd8;
}
.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category_box_wrap {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 0px 24px 0px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    text-align: center;
    width: 210px;
    display: inline-block;
    transition: all 500ms ease;
}
.category_box_wrap h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin: 12px 0;
}
.category_box_wrap p {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    background-color: #f2f2f5;
    text-align: center;
    border-radius: 50%;
}
.category a:hover .category_box_wrap{
    background-color: #008239;
}
.category a:hover .category_box_wrap p {
    background-color:rgba(255,255,255,.1);
    color: #fff;
    
}


section.feature_section{
    background: url(../images/shape-1.webp) ;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-color: #e5f8ed;
}

.section_heading h2 {
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 700;
}
.section_heading p {
    font-size: 17px;
    margin-bottom: 15px;
}
.section_heading {
    margin-bottom: 40px;
}
.feature_box_wrap {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;

}
.feature_text_wrap {
    padding:30px;
}
.feature_text_wrap p {
    color: #01822f;
    font-size: 14px;
}
.feature_text_wrap h3 a{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    letter-spacing: -1px;
    margin: 5px 0 15px;
}
.feature_text_wrap .h_btn.primary a:hover{
    border: 1px solid #000;
    color: #000 !important;
}
.feature_text_wrap h3 {
    min-height: 100px;
}